<head>
    <meta charset="UTF-8">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js'></script>
    <script src="/appcore"></script>
    <link rel="stylesheet" href="/style">
</head>
<body>
    <canvas id='scene'></canvas>
</body>