<head>
    <meta charset="UTF-8">  </style>
    <script src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
    <link rel="stylesheet" href="/style">
</head>
<body>
    <div class='registerbox'>
        <label for='login'>Username</label>
        <input id='login' type='login'>
        <label for='password'>Password</label>
        <input id='password' type='password'>
        <button id='loginbut'>Login</button>
        <button id='registerbut'>Register</button>
    </div>
    <script>	
        jQuery(document).ready(() => {
            jQuery('#loginbut').on('click', () => {
                jQuery.post( '/API/user/login', { username: jQuery('#login').val(), password: jQuery('#password').val() })
                    .done((data) => {
                        if (data.success){
                            document.cookie = `sessionkey=${data.sessionkey}`;
                            document.cookie = `username=${data.username}`;
                            location.reload();
                        }
                    });
            })
            jQuery('#registerbut').on('click', () => {
                jQuery.post( '/API/user/register', { username: jQuery('#login').val(), password: jQuery('#password').val() })
                    .done((data) => {
                        if (data.success){
                            document.cookie = `sessionkey=${data.sessionkey}`;
                            document.cookie = `username=${data.username}`;
                            location.reload();
                        }
                    });
            })
        })
    </script>
</body>