*{
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}
.registerbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 500px;
    max-width: 80%;
}
.registerbox label, .registerbox input{
    flex: 0 0 100%;
}
.registerbox input{
    margin-bottom: 10px;
}
.registerbox button{
    margin-top: 10px;
    flex: 0 0 calc(50% - 5px);
}
canvas{
    position: absolute;
    z-index: -1;
}